@charset "utf-8";

.container {
  margin: 40px;
  min-width: 280px;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

h1, h2 {
  text-align: center;
}

#input-column {
  margin: 20px;
}

#draw-area {
  border: 2px solid;
  margin-top: 14px;
  margin-bottom: 10px;
  transition: opacity 0.3s;
}

.button-container {
  display: flex;
  justify-content:
  space-between;
}

#recognize-button {
  width: 180px;
}

.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

#reset-button {
  width: 90px;
}

#output-column {
  margin: 20px;
}

.is-hidden-mobile-alt {
}

.is-zero-height-mobile-alt {
}

.is-max-height-mobile-alt {
}

#result-tbody > tr > th {
  text-align: center
}
#result-tbody > tr > td:nth-child(2) {
  min-width: 90px;
}
#result-tbody > tr > td:nth-child(3) {
  min-width: 90px;
}
#result-tbody > tr > td:nth-child(3) > div {
  background-color: hsl(348, 100%, 61%);
}

.with-anim-workaround {
  animation: blinker 1s infinite;
}
@keyframes blinker {
  0% {opacity: 0.5;}
  100% {opacity: 1;}
}

@media screen and (max-width: 500px) {
  .container {
    margin: 20px;
  }

  #draw-area {
    margin-top: 0;
  }

  #output-column {
    margin: 0 20px 0 20px;
  }

  .is-hidden-mobile-alt {
    display: none;
  }

  .is-zero-height-mobile-alt {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: -30px; /* move up a bit at the same time */
  }

  .is-max-height-mobile-alt {
    max-height: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    opacity: 1;
    transition: opacity 0.5s;
  }
}
